{% extends 'base.html.twig' %}

{% block title %}Réinitialisation mot de passe | XIV REGALIA{% endblock %}

{% block body %}

<main>  
	<section class="resetpassun">
       <h1>Réinitialisation mot de passe</h1>
	</section>


		<div class="resetuncorp">


			<div class="resetundiv">
			
			  {{ form_start(requestPassForm) }}
			     {{ form_row(requestPassForm.email, {'attr': {'class': 'passformreset'}}) }}
			      <button type="submit" class="bouttonrondbleu">Envoyer</button>
			  {{ form_end(requestPassForm) }}
			
				

			</div>
		</div>



</main>

{% endblock %}
