{% extends 'base.html.twig' %}

{% block title %} Réinitialisation de mot de passe | XIV REGALIA{% endblock %}

{% block body %}
<main>  
	<section class="resetpassun">
      <h1>Réinitialisation de mot de passe</h1>
	</section>


		<div class="resetuncorp">


		
			<div class="resetundiv">
			
			{{ form_start(passForm) }}
			   {{ form_row(passForm.password, {'attr': {'class': 'passformreset'}}) }}
			   <button type="submit" class="bouttonrondbleu">Envoyer</button>
			{{ form_end(passForm) }}
			
				

			</div>
		</div>
</main>	

{% endblock %}
