.bouttonblack {
    background-color: #000;
  padding: 10px 60px 10px 60px;
  border: none;
  color: #E7DAC7;
  font-weight:800;
  border-radius: 3px;
  text-align: center;

}
.bouttonblack:hover {
    background-color: #E7DAC7;
    color: #000;
    transition-duration: 0.8s;

}
/* bouton noir creme */

.bouttonmodifier {
    background-color: #000;
  padding: 10px 60px 10px 60px;
  border: none;
  color: #fff;
  font-weight:800;
  border-radius: 3px;
  text-align: center;

}
.bouttonmodifier:hover {
    color: #fff;
}

/* bouton noir blanc */



.bouttonred {
  background-color: #850606;
  border: none;
  color: #000;
  font-weight:800;
  border-radius: 3px;
  text-align: center;


}
.bouttonred:hover {
    background-color: #000; 
    color: #fff;
    transition-duration: 0.8s;
}
/* bouton rouge et noir  */



.bouttonblue {
  background-color: #000e38;
  padding: 15px 60px 15px 60px;
border: none;
color: #fff;
font-weight:800;
border-radius: 3px;
text-align: center;

}
.bouttonblue:hover {
  background-color: #000;
  color: #fff;
  transition-duration: 0.8s;

}
/* bouton bleu et noir  */

.bouttoncartcommand {
  background-color: #000e38;
padding: 10px 90px 10px 90px;
border: none;
color: #fff;
border-radius: 3px;
text-align: center;

}

/* bouton bleu blanc */


.bouttoncomfirmbleu {
  background-color: #000e38;
padding: 10px 90px 10px 90px;
border: none;
color: #E7DAC7;
font-weight:800; 
border-radius: 3px;
text-align: center;

}

/* bouton bleu creme */



.bouttonrondbleu {
  background-color: #000e38;
  padding: 10px 90px 10px 90px;  

border: none;
color: #E7DAC7;
font-weight:800; 
border-radius: 20px;
text-align: center;

}
.bouttonrondbleu:hover {
  background-color: #E7DAC7;
  color: #000e38;
  transition-duration: 0.8s;

}



/* bouton bleu creme */
