h1 {
    font-family: 'Bodoni Moda','Libre Baskerville','cursive' , serif;
}
 a {
    font-family: 'Bodoni Moda','Libre Baskerville','cursive' , serif;
}  

h2 {
    font-family: 'poppins','Open Sans' ,'cursive', sans-serif;
}

h3{
    font-family: 'poppins','Open Sans' ,'cursive', sans-serif;
}

p {
    font-family: 'poppins','Open Sans' ,'cursive', sans-serif;
}

/* le - et + du panier */
.cartquantite a {
    font-family: unset;
}

