{% extends 'base.html.twig' %}

{% block title %}Mentions légales | XIV REGALIA{% endblock %}  

{% block body %}
<main>
        <section class="pdcTitre">
			<h1>Conditions générales de vente</h1>
        </section>

        <div class="pdcDiv">
			<p><strong>Nous vous informons que XIV-REGALIA est un site fictif dans le cadre d'un examen. Les produits sont fictifs et le formulaire de paiement ne récolte aucune donnée.</strong><br>
            <br> Les présentes conditions de vente sont conclues d’une part par la société XIV REGALIA et gérant le site www.xiv-regalia.fr et, d’autre part, par toute personne physique ou morale souhaitant
             procéder à un achat via le site internet www.xiv-regalia.fr ci-après " l’acheteur ".
            </p>

			<h2>Article 1. Objet</h2>

			<p>Les présentes conditions de vente visent à définir les relations contractuelles entre XIV REGALIA et l’acheteur et les conditions applicables à tout achat effectué par le biais du site internet www.xiv-regalia.fr .
             L’acquisition d’un produit à travers le présent site implique une acceptation sans réserve par l’acheteur des présentes conditions de vente dont l’acheteur reconnaît avoir pris connaissance préalablement à sa commande.
              Avant toute transaction, l’acheteur déclare d’une part que l’achat de produits sur le site est sans rapport direct avec son activité professionnelle et est limité à une utilisation strictement personnelle et d’autre part avoir la pleine capacité juridique,
               lui permettant de s’engager au titre des présentes conditions générales de ventes. 
              La société XIV REGALIA conserve la possibilité de modifier à tout moment ces conditions de ventes, afin de respecter toute nouvelle réglementation ou dans le but d'améliorer l’utilisation de son site. De ce fait, les conditions applicables seront celles en vigueur à la date de la commande par l’acheteur.
            </p>

			<h2>Article 2. Produits </h2>

			<p>Les produits proposés sont ceux qui figurent sur le site www.xiv-regalia.fr de la société .XIV REGALIA , dans la limite des stocks disponibles. La société XIV REGALIA se réserve le droit de modifier à tout moment l’assortiment de produits.
             Chaque produit est présenté sur le site internet sous forme d’un descriptif reprenant ses principales caractéristiques techniques (contenance, utilisation, composition…). Les photographies sont les plus fidèles possibles mais n’engagent en rien le Vendeur.
              La vente des produits présentés dans le site www.xiv-regalia.fr est destinée à tous les acheteurs résidants dans les pays qui autorisent pleinement l’entrée sur leur territoire de ces produits.
            </p>

			<h2> Article 3. Tarifs </h2>
			
			<p>Les prix figurant sur les fiches produits du catalogue internet et sont des prix en Euros (€) toutes taxes comprises (TTC) tenant compte de la TVA applicable au jour de la commande.
             Tout changement du taux de la TVA pourra être répercuté sur le prix des produits. La société XIV REGALIA se réserve le droit de modifier ses prix à tout moment,
              étant toutefois entendu que le prix figurant au catalogue le jour de la commande sera le seul applicable à l’acheteur.
               Les prix indiqués ne comprennent pas les frais de livraison, facturés en supplément du prix des produits achetés suivant le montant total de la commande.
			</p>

			<h2>Article 4. Commande et modalités de paiement  </h2>

			<p>Avant toute commande, l’acheteur doit créer un compte sur le site www.xiv-regalia.fr. La rubrique de création de compte est accessible directement depuis la barre de menu latérale. A chaque visite, l’acheteur,
             s’il souhaite commander ou consulter son compte (état des commandes, profil…), devra s’identifier à l’aide de ces informations.
              La société XIV REGALIA propose à l’acheteur de commander et régler ses produits en plusieurs étapes : <br>

            <strong>Paiement par virement bancaire :</strong> l’acheteur sélectionne les produits qu’il souhaite commander dans le « panier », 
            modifie si besoin (quantités, références…), vérifie l’adresse de livraison ou en renseigne une nouvelle.
             Puis, les frais de port sont calculés et soumis à l’acheteur, ainsi que le nom du transporteur. 
             Ensuite, l’acheteur choisit le mode de paiement de son choix : « Paiement par virement ». Enfin, la dernière étape lui propose de vérifier l’ensemble des informations,
              prendre connaissance et accepter les présentes conditions générales de vente en cochant la case correspondante, puis l’invite à valider sa commande en cliquant sur le bouton « Confirmer ma commande ».
               Ce dernier clic forme la conclusion définitive du contrat. Dès validation, l’acheteur reçoit un bon de commande confirmant l’enregistrement de sa commande. Afin de finaliser son paiement et déclencher le traitement de sa commande, 
               l’acheteur doit contacter sa banque afin d'effectuer le virement correspondant au montant de sa commande vers le compte bancaire de XIV REGALIA , dont les coordonnées sont communiquées à l'acheteur. Dès réception du virement,
                la commande sera traitée et l’acheteur en sera informé par e-mail. La société XIV REGALIA expédiera les produits au plus tôt 2 jours ouvrés après réception du virement correspondant à la commande, sous réserve de provisions.

			</p>


			<h2>Article 5. Réserve de propriété  </h2>

			<p>La société XIV REGALIA conserve la propriété pleine et entière des produits vendus jusqu'au parfait encaissement du prix, en principal, frais et taxes compris.

            </p>


			<h2>Article 6. Rétractation </h2>

			<p>En vertu de l’article L121-20 du Code de la consommation,
             l’acheteur dispose d'un délai de quatorze jours ouvrables à compter de la livraison de leur commande pour exercer son droit de rétractation et ainsi faire retour du produit au vendeur pour échange ou remboursement sans pénalité,
              à l’exception des frais de retour.

			</p>


			<h2> Article 7. Livraison </h2>

			<p>Les livraisons sont faites à l’adresse indiquée sur le bon de commande qui ne peut être que dans la zone géographique convenue. 
            Les commandes sont effectuées par voie postale service de livraison avec suivi, remise sans signature.
             Les délais de livraison ne sont donnés qu’à titre indicatif ; si ceux-ci dépassent trente jours à compter de la commande, 
             le contrat de vente pourra être résilié et l’acheteur remboursé. La société XIV REGALIA pourra fournir par e-mail à l’acheteur le numéro de suivi de son colis. 
             L’acheteur est livré à son domicile par son facteur. En cas d’absence de l’acheteur, il recevra un avis de passage de son facteur, ce qui lui permet de retirer les produits commandés au bureau de Poste le plus proche, 
             pendant un délai indiqué par les services postaux. Les risques liés au transport sont à la charge de l'acquéreur à compter du moment où les articles quittent les locaux de la société XIV REGALIA.
              L’acheteur est tenu de vérifier en présence du préposé de La Poste ou du livreur, l’état de l’emballage de la marchandise et son contenu à la livraison.
               En cas de dommage pendant le transport, toute protestation doit être effectuée auprès du transporteur dans un délai de trois jours à compter de la livraison.

			</p>

            <h2>Article 8. Garantie  </h2>

			<p>Tous les produits fournis par la société XIV REGALIA bénéficient de la garantie légale prévue par les articles 1641 et suivants du Code civil.
             En cas de non conformité d’un produit vendu, il pourra être retourné à la société XIV REGALIA qui le reprendra, l’échangera ou le remboursera.
            </p>


            <h2>Article 9. Responsabilité  </h2>

			<p>La société XIV REGALIA , dans le processus de vente à distance, n’est tenue que par une obligation de moyens.
             Sa responsabilité ne pourra être engagée pour un dommage résultant de l’utilisation du réseau Internet tel que perte de données,
              intrusion, virus, rupture du service, ou autres problèmes involontaires.
            </p>


            <h2>Article 10. Propriété intellectuelle  </h2>

			<p>Tous les éléments du site www.xiv-regalia.fr sont et restent la propriété intellectuelle et exclusive de la société XIV REGALIA.
             Personne n’est autorisé à reproduire, exploiter, ou utiliser à quelque titre que ce soit, même partiellement, des éléments du site qu’ils soient sous forme de logo, 
             visuel ou texte.

            </p>

            <h2>Article 11. Données à caractère personnel </h2>

			<p>La société XIV REGALIA s'engage à préserver la confidentialité des informations fournies par l’acheteur,
             qu'il serait amené à transmettre pour l'utilisation de certains services. Toute information le concernant est soumise aux dispositions de la loi n° 78-17 du 6 janvier 1978.
              A ce titre, l'internaute dispose d'un droit d'accès, de modification et de suppression des informations le concernant.
            </p>




		</div>

</main>
{% endblock %}