{% extends 'base.html.twig' %}

{% block title %}Mentions légales | XIV REGALIA{% endblock %}  

{% block body %}
	<main>
		
	  <section class="mentionTitre">
			<h1>Mentions légales</h1> 
	  </section>

	<div class="mentionDiv">

	  <p class="mentionIntro">
	  Merci de lire avec attention les différentes modalités d’utilisation du présent site avant d’y parcourir ses pages.
	   En vous connectant sur ce site, vous acceptez, sans réserves, les présentes modalités.
       Aussi, conformément à l’article n°6 de la Loi n°2004-575 du 21 Juin 2004 pour la confiance dans
	   l’économie numérique, les responsables du présent site internet www.xiv-regalia.fr sont :
	   </p>

      <h2>Éditeur du Site </h2>
	  <p>Responsable éditorial : Nom Nouri</p>
	  <p>Email : Adm<span style="display: none;">Tchatchatcha</span>in@mail.fr</p>
	  <p>Site Web : www.xiv-regalia.fr</p>


	 <h2>Hébergement </h2>
	 <p>Hébergeur : Hébergeur</p>
	 <p>Hébergeur 61 rue Adresse</p>
	 <p>Site Web : www.hébergeur.fr</p>




    <h2>Conditions d’utilisation </h2>

	<p>Ce site (www.xiv-regalia.fr) est proposé en différents langages web (HTML, HTML5, Javascript, CSS, etc…) pour un meilleur confort d’utilisation et un graphisme plus agréable.
     Nous vous recommandons de recourir à des navigateurs modernes comme Internet explorer, Safari, Firefox, Google Chrome, etc…
     XIV REGALIA met en œuvre tous les moyens dont elle dispose, pour assurer une information fiable et une mise à jour fiable de ses sites internet.
     Toutefois, des erreurs ou omissions peuvent survenir. L’internaute devra donc s’assurer de l’exactitude des informations auprès de XIV REGALIA ,
	  et signaler toutes modifications du site qu’il jugerait utile. XIV REGALIA  n’est en aucun cas responsable de l’utilisation faite de ces informations,
     et de tout préjudice direct ou indirect pouvant en découler.
	 </p>

	 
    </div>

		
	  
 
	</main>	
{% endblock %}