{% extends "base.html.twig" %} 

{% block title %}Page non trouvée | XIV REGALIA{% endblock %}
{% block body %}
    <main class="mainErrorPage">

        <section>

            <div>
                <h1>Page non trouvée</h1>
            </div>

            <div>
                <p>Un problème est survenu.</p>
                <p>La page que vous recherchez n'a pas été trouvée.</p>            
            </div>
            
        </section>


    </main>
{% endblock %}